body{
    font-family: Roboto, sans-serif;
    color: #212121;
    
}
ul{
    list-style: none;
}

.links>.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #212121;
    font-size: 26px;
    line-height: 1.19;
}
.logo>p>span{
    color: #2196F3;
}

/*Меню*/

.main-menu>li{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.main-menu>li>a{
    color: #212121;
    text-decoration: none;
}
.main-menu>li>a:hover,
.main-menu>li>a:focus{
    color: #2196F3;
}

/* Контакти в хедері */

.main-contact>li{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em; 
}
.main-contact>li>a{
    color: #757575;
    text-decoration: none;
}
.main-contact>li>a:hover,
.main-contact>li>a:focus{
    color: #2196F3;
}

/* Hero block */

.hero{
    background: #2F303A;
}

.hero>.hero-title{
    font-weight: 900;
    font-size: 44px;
    color: #FFFFFF;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero>.hero-button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
}

/* Service */

.service-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.service-dscr{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
}

/* Чем мы занимаемся */

.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

/* Наша команда */

.team{
    background: #F5F4FA;
}
.team-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #212121;
}
.team-dscr{
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575;
}

/* Footer */

.footer-bg{
    background: #2F303A;
}
.footer-bg>.logo{
    color: #FFFFFF;
    text-decoration: none;
}
.footer-bg>.footer-addres{
    color: #FFFFFF;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.footer-addres>a{
    font-size: 14px;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}